
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			40px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#777;
}
.sf-menu a:hover  { 
	color:			#222;
}
.sf-menu li {
	background:		transparent;
}
.sf-menu li li {
	background:	url('../images/sf-menu-bg.png') no-repeat 0 100%;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator,
.top_bg_color .sf-sub-indicator {
	position:		absolute !important;
	display:		block !important;
	right:			10px !important;
	top:			1.05em !important; /* IE6 only */
	width:			10px !important;
	height:			10px !important;
	text-indent:		-999em !important;
	overflow:		hidden !important;
}
/* indicator image for light background */
.sf-sub-indicator {
	background:		url('../images/auto-arrows.png') no-repeat -10px -100px !important; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
/* indicator image for dark background */
.top-bg-color-dark .sf-sub-indicator {
	background:		url('../images/auto-arrows.png') no-repeat -30px -100px !important; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em !important;
	background-position: 0 -100px !important; /* use translucent arrow for modern browsers*/
}
/* hovers for light background */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px !important; /* arrow hovers for modern browsers*/
}
/* hovers for dark background */
.top-bg-color-dark a:focus > .sf-sub-indicator,
.top-bg-color-dark a:hover > .sf-sub-indicator,
.top-bg-color-dark a:active > .sf-sub-indicator,
.top-bg-color-dark li:hover > a > .sf-sub-indicator,
.top-bg-color-dark li.sfHover > a > .sf-sub-indicator {
	background-position: -40px -100px !important; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0 !important; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0 !important; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0 !important; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
    -moz-box-shadow: 1px 1px 4px #555;
    -webkit-box-shadow: 1px 1px 4px #555;
    box-shadow: 1px 1px 4px #555;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
